<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            #map {
                height:600px;
                border: 2px solid black;
            }
            .scroll{
                height: 800px;
                overflow-y: auto; 
                word-wrap: break-word; 
        }
        </style>
        <title>Vacation Planner</title>
        {%load static%}
    </head>
<body>
    <nav class="p-4 navbar navbar-light bg-info mb-5">
        <h3 class="text-white">Vacation Planner</h3>
        <div class="col-2 ml-auto">
            <a class='mr-2 text-white' href="/home">Home</a>
            <a class='text-white' href="/logout">Logout</a>
        </div>
    </nav>
    <div class="container">
        <h2>Hello {{ current_user.first_name }}! Schedule an upcoming trip!</h2>
        <div class="row">
            <div class="col-sm-10">
                <div class="card">
                    <div class="card-body">
                        <form action="/process_create" class="form" method='post' autocomplete="off">
                            {% csrf_token %}
                            <div class="form-group mb-4 row">
                                <div class="col-lg-11">
                                    <input type="text" id='title' name = 'title' class="form-control" placeholder='Trip Title'>
                                        {% for message in messages %}
                                        {% if message.extra_tags == 'destination' %}
                                        <p class="position-absolute d-block text-danger"><small>{{ message }}</small></p>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                
                                <div class="form-group mb-4 row">
                                    <div class="col-lg-11">
                                        <input type="text" id='destination' name = 'destination' class="form-control" placeholder='Destination'>
                                        {% for message in messages %}
                                        {% if message.extra_tags == 'destination' %}
                                        <p class="position-absolute d-block text-danger"><small>{{ message }}</small></p>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                
                                <div class="form-group mb-4 row">
                                    <div class="col-lg-11">
                                        <label for="startdate">Start Date</label>
                                        <input type="date" name="startdate" id="startdate">
                                        {% for message in messages %}
                                        {% if message.extra_tags == 'enterstartdate' or message.extra_tags == 'date' %}
                                        <p class="position-absolute d-block text-danger"><small>{{ message }}</small></p>
                                        {% endif %}
                                        {% endfor %}                                    
                                    </div>
                                </div>
                                
                                <div class="form-group mb-4 row">
                                    <div class="col-lg-11">
                                        <label for="enddate">End Date</label>
                                        <input type="date" name="enddate" id="enddate">
                                        {% for message in messages %}
                                        {% if message.extra_tags == 'invalid' or message.extra_tags == 'enterenddate' %}
                                        <p class="position-absolute d-block text-danger"><small>{{ message }}</small></p>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                
                                <div class="form-group mb-4 row">
                                    <div class="col-lg-11">
                                        <textarea type="text" name='plan' class='form-control' placeholder='Plan'></textarea>
                                        {% for message in messages %}
                                        {% if message.extra_tags == 'plan' %}
                                        <p class="position-absolute d-block text-danger"><small>{{ message }}</small></p>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-lg-11">
                                        <button type='reset' class='btn btn-secondary'>Cancel</button>
                                        <button type='submit' class='btn text-white btn-info'>Submit</button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
