<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create a Trip</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% load static %}
</head>
<body>
    <nav class="p-3 navbar text-white navbar-light bg-info mb-3">
        <h3 class="ml-2 mr-2">Vacation Planner</h3><img src="{% static 'belt_app/images/air.ico' %}" alt="">
        <div class="col-2 ml-auto">
            <a href="/home" class= "mr-2 text-white">Home</a>
            <a class='text-white' href="/logout">Logout</a>
        </div>
    </nav>
    <div class="contain m-4">
        <div class="row justify-content-center">
            <h4>Edit Your Trip</h4>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <form action="/editthis" class="form" method='post' autocomplete="off">
                        {% csrf_token %}
                            <div class="form-group mb-4 row">
                                <div class="col-lg-11">
                                    <label for="destination"> Destination</label>
                                    <input type="text" id='destination' name = 'destination' class="form-control" value='{{trip.destination}}'>
                                    <input type="hidden" name = 'trip_id' class="form-control" value='{{trip.id}}'>
                                    {% for message in messages %}
                                    {% if message.extra_tags == 'destination' %}
                                    <p class="position-absolute d-block text-danger"><small>{{ message }}</small></p>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group mb-4 row">
                                <div class="col-lg-11">
                                    <label for="startdate">Start Date</label>
                                    <input type="date" name="startdate" id="startdate" value="{{trip.start_date|date:'Y-m-d'}}">
                                    {% for message in messages %}
                                    {% if message.extra_tags == 'enterstartdate' or message.extra_tags == 'date' %}
                                    <p class="position-absolute d-block text-danger"><small>{{ message }}</small></p>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group mb-4 row">
                                <div class="col-lg-11">
                                    <label for="enddate">End Date</label>
                                    <input type="date" name="enddate" id="enddate" value="{{trip.end_date|date:'Y-m-d'}}">
                                    {% for message in messages %}
                                    {% if message.extra_tags == 'invalid' or message.extra_tags == 'enterenddate' %}
                                    <p class="position-absolute d-block text-danger"><small>{{ message }}</small></p>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group mb-4 row">
                                <div class="col-lg-11">
                                    <textarea type="text" name='plan' class='form-control'>{{ trip.plan }}</textarea>
                                    {% for message in messages %}
                                    {% if message.extra_tags == 'plan' %}
                                    <p class="position-absolute d-block text-danger"><small>{{ message }}</small></p>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-11">
                                    <button type='submit' class='btn text-white btn-info'>Submit</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
