<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vacation Planner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        #map {
            height:600px;
            border: 2px solid black;
        }
        .scroll{
            height: 800px;
            overflow-y: auto; 
            word-wrap: break-word; 
    }
    </style>
    <title>Vacation Planner</title>
    {%load static%}
</head>
<body>
    <nav class="p-4 navbar text-white navbar-light bg-info mb-5">
        <h3>Vacation Planner</h3>
        <div class="col-4 ml-auto">
            <a href="/create" class= "mr-2 text-white">Create a New Trip</a>
            <a class='text-white' href="/logout">Logout</a>
        </div>
    </nav>
    <div class="contain  m-3">
        <h2>Welcome {{ current_user.first_name }}!</h2>
        <h4>Your Trips</h4>
        <div class='container-fluid'>
            <table class="table table-hover text-centered mb-5">
                <tr class="font-weight-bold">
                    <td>Trip Title</td>
                    <td>Destination</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Plan</td>
                    <td>Actions</td>
                </tr>
                {% for trip in users_trips %}
                <tr>
                    <td><a class="text-info" href="trips/{{trip.id}}">{{ trip.title }}</a></td>
                    <td>{{ trip.destination }}</td>
                    <td>{{ trip.start_date }}</td>
                    <td>{{ trip.end_date }}</td>
                    <td>{{ trip.plan }}</td>

                    {% if current_user.id == trip.trip_host.id %}
                    <td><a href="deletetrip/{{ trip.id }}">Remove</a> | <a href="trips/edit/{{ trip.id }}">Edit</a></td>
                    {% else %}
                    <td><a href="removetrip/{{ trip.id }}">Cancel</a>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>

        <h4 class="text-center">Check out other user's vacation spots for inspiration!</h4>
        <div class="row ml-3">
            <div class="col-3 scroll">
                {% for trip in sidebar_trips %}
                <a href="trips/{{trip.id}}"><header class="font-weight-bold">{{trip.title}}</header></a>
                <span class='small font-weight-bold'>Destination: {{trip.destination}} </span><br>
                <span class='small font-weight-bold'><a href="https://www.google.com/search?q=flights to {{ trip.destination }}" target="_blank">Check out flights!</a></span><br>
                {% if trip.trip_host.id == current_user.id %}
                <a class="text-danger" href="remove/{{trip.id}}"><span class="small">Remove Your Trip</span></a>
                {% endif %}
                <hr>
                {% endfor %}
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <span class='font-weight-bold'>Click a marker to see some hotels nearby! </span>
                <ul class="list-unstyled card-text">
                    {% for rest in nearby %}
                        <li><a target="_blank" href="https://www.google.com/search?q={{rest}}">{{rest}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
            
        function initMap() {
            var options = {
                zoom: 2,
                center: {lat: 14.50, lng: -25}
            }
            var map = new google.maps.Map(document.getElementById("map"), options);

            marker = []
            {% for trip in all_trips %}
            
            iwcontentstr = '<div id="content">'+'<div id="siteNotice">'+'</div>'+
                            '<h5 id="firstHeading" class="firstHeading">{{trip.title}}</h1>'+'<div id="bodyContent">'+
                            '<p><b>Address:</b> {{trip.formatted_address}}</p>' +
                            '</div>'+
                            '</div>';
            
            
            
            props = {
                'coords': {lat: {{trip.latitude}}, lng: {{trip.longitude}}},
                'content': iwcontentstr
            }
            marker.push(props)
            {% endfor %}

            for (var i = 0; i < marker.length; i++){
                addMarker(marker[i]);
            }

            marker.addEventListener("onmouseover", function(){
                marker.grow
            });

            // THE FUNCTION FOR ADDING A MARKER
            function addMarker(props){
                var marker = new google.maps.Marker({
                    position: props.coords,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    // content: props.content
                });

                marker.addListener('click', shownearby);
                    function shownearby() {
                        lat = props.coords.lat
                        long = props.coords.lng
                        window.location = 'http://localhost:8000/apis/' + lat + '/' + long
                        $.getJSON(window.location, function(data, textStatus, jqXHR){
                            console.log(data)
                        });
                    }

                if(props.content){
                    var infowindow = new google.maps.InfoWindow({
                        content: props.content
                    });
                    marker.addListener('click', function() {
                    infowindow.open(map, marker);
                    });
                }
            }
        }

    </script>

    <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4HjeXhplfNZb1oPX3HlrQkFz2FuCzoAs&callback=initMap">
    </script>
</body>
</html>
        

