<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Vacation Planner</title>
    <style>
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        a{
            color: #17a2b8;
        }
    </style>
</head>

<body>
    {% load static %}
    <nav class="p-3 navbar text-white navbar-light bg-info mb-3">
        <h3 class="ml-2 mr-2">Vacation Planner</h3><img src="{% static 'belt_app/images/air.ico' %}" alt="">
        <div class="col-2 ml-auto">
            <a href="/home" class= "mr-2 text-white">Home</a>
            <a class='text-white' href="/logout">Logout</a>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="card w-50 offset-3 mt-5 border border-info mb-5">
            <div class="card-body mt-3">
                <div class="row justify-content-center">
                    <h4 class="card-title">{{ selected_trip.title }}</h4>
                </div>
                <div class="row justify-content-center">
                    <span class='font-weight-bold'>Destination: </span><br>
                </div>
                <div class="row justify-content-center mb-2">
                    <p class="card-text"> {{ selected_trip.destination }}</p>
                </div>
                <div class="row justify-content-center">
                    <span class='font-weight-bold'>Plan: </span>
                </div>
                <div class="row justify-content-center mb-2">
                    <p class="card-text">{{ selected_trip.plan }}</p>
                </div>
                <div class="row justify-content-center">
                    <span class='font-weight-bold'>Nearby hotels:</span>
                </div>
                <div class="row justify-content-center mb-4">
                    <ul class="list-unstyled card-text">
                        {% if nearby0 != "sorry" %}
                        {% for rest in nearby %}
                        <li><a target="_blank" href="https://www.google.com/search?q={{rest}}">{{rest}}</a></li>
                        {% endfor %}
                        {% else %}
                        <p>Sorry, no hotels nearby</p>
                        {% endif %}
                    </ul>
                </div>

                <div class="row justify-content-center">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <div class="carousel-inner">
                            <a target="_blank" href="https://www.google.com/search?rlz=1C5CHFA_enUS841US846&biw=1366&bih=570&tbm=isch&sa=1&ei=DbdcXdK-FOLL0PEPwM2oqAQ&q={{selected_trip.destination}}&oq=rome%2C+italy&gs_l=img.3..0j0i67j0l8.7290.8999..9249...0.0..0.66.630.11......0....1..gws-wiz-img.......35i39.4d8dcOJJcto&ved=0ahUKEwiS-ZzB_5LkAhXiJTQIHcAmCkUQ4dUDCAY&uact=5">
                                <div class="carousel-item active">
                                    <img style="height: 350px; width: 400px" class=""
                                    src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ photo0 }}&key=AIzaSyDcuEo_YNfM-UN8VWL9IeXtfJHR30R4I_0"
                                    alt="">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 350px; width: 400px" class=""
                                    src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ photo1 }}&key=AIzaSyDcuEo_YNfM-UN8VWL9IeXtfJHR30R4I_0"
                                    alt="">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 350px; width: 400px" class=""
                                    src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ photo2 }}&key=AIzaSyDcuEo_YNfM-UN8VWL9IeXtfJHR30R4I_0"
                                    alt="">
                                </div>
                            </a>
                        </div>

                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <p class="small mt-1">(Click on images to see more photos)</p>
                </div>
                <div class="row justify-content-center">
                    <p class="card-text">
                        <a target="_blank" href="https://www.google.com/search?q=flights to {{ selected_trip.destination }}">Click here to check out flights!</a>
                    </p> <br>
                </div>
                <div class="row offset-9 mt-5">
                    <p class="small">Trip created by: {{ selected_trip.trip_host.first_name }}</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>